# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-4yyd6.us-east1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=LJU73YKN5WUSOI2W
sasl.password=DkD0OPJBST20ngwFuUXx5RiwwGuNYA+ljCvan2OQcAjXAYeUTZ2qKpNv12uYtedU

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000
